.dataTableImg {
	height: 100px;
	width: 100px;
}

.logo {
	width: 400px;
	height: 50px;
}

.block-ellipsis {
	display: block;
	display: -webkit-box;
	max-width: 100%;
	max-height: 182px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1.3;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	text-justify: inter-word;
}

.block-ellipsis-group2 {
	display: block;
	display: -webkit-box;
	max-width: 100%;
	max-height: 55px;
	height: 55px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1.3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	text-justify: inter-word;
}

.container {
	position: relative;
	text-align: center;
	color: white;
}

.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
}

.top-left {
	position: absolute;
	top: 10px;
	left: 0px;
}

.top-right {
	position: absolute;
	top: 8px;
	right: 16px;
}

.bottom-right {
	position: absolute;
	bottom: 8px;
	right: 16px;
}

/* adding a hover effect in home page images */
.mycontainer {
	position: relative;
	width: 100%;
}

.myimage {
	display: block;
	width: 100%;
	height: auto;
}

.myoverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

.mycontainer:hover .myoverlay {
	height: 100%;

}

.mytext {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}



/* zoom images */

.myzoom {
    padding: 0px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.myzoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}